.Menu_Modal {
    position: absolute;
    top:53px;
    right: 5%;
    z-index: 10;
    background: var(--white);
    border-radius: 5px;
}


.Menu_Modal .Menu_Modal_account_links strong{
    margin: 0 10px;
    margin-top: 10px ;
    display: block;
    font-size: 1.2rem;
    color: var(--gray);
    font-weight: 500;
}

.Menu_Modal .Menu_Modal_account_links span svg{
    margin-right: 5px;
}
.Menu_Modal .Menu_Modal_account_links span{
    cursor: pointer;
    margin: 18px;
    font-size: .9rem;
    display: flex;
    align-items: center;
    color: var(--Dashboard-color-text-1);
}
.Menu_Modal .Menu_Modal_account_links span:hover{
    color: var(--violet);
}
.Menu_Modal .Menu_Modal_account_links span:active{
    color: var(--Dashboard-color-text-1);
}


@media (max-width: 500px){
    .Menu_Modal {
        /* display: none; */
    }
}